name: test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 27.2
          - 28.2
          - 29.4
          - 30.0.90
        include:
          - emacs_version: snapshot
            ignore_error: true
    env:
      EMACS_VERSION: ${{ matrix.emacs_version }}
    steps:
      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Setup Python (for Cask)
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          architecture: 'x64'

      - name: Setup Cask
        uses: conao3/setup-cask@master
        with:
          version: "snapshot"

      - uses: actions/checkout@v4

      - name: Install
        id: install
        continue-on-error: ${{ matrix.ignore_error != '' && matrix.ignore_error }}
        run: |
          emacs --version
          cask build --verbose
          make build

      - name: Test
        if: steps.install.outcome == 'success' && steps.install.conclusion == 'success'
        run: |
          make test

      - name: Upload coverage
        if: steps.install.outcome == 'success' && steps.install.conclusion == 'success'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: EMACS_VERSION
          files: ./coverage/lcov-ert.info,./coverage/lcov-buttercup.info
          fail_ci_if_error: true
