name: test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 25.2
          - 25.3
          - 26.1
          - 26.2
          - 26.3
          - 27.1
        include:
          - emacs_version: snapshot
            ignore_error: true
    steps:
      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Setup Python (for Cask)
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architecture: 'x64'

      - name: Setup Cask
        uses: conao3/setup-cask@master
        with:
          version: "snapshot"

      - uses: actions/checkout@v2

      - name: Install
        id: install
        continue-on-error: ${{ matrix.ignore_error || matrix.ignore_error == '' }}
        run: |
          emacs --version
          cask build --verbose
          make build

      - name: Test
        if: steps.install.outcome == 'success' && steps.install.conclusion == 'success'
        run: |
          make test

      - name: Coveralls
        if: steps.install.outcome == 'success' && steps.install.conclusion == 'success'
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: emacs-${{ matrix.emacs_version }}
          parallel: true

  finish:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
